@import "colors";

footer{
    background-color: $secondary;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;

    >div{
        display: flex;
        justify-content: space-between;

        
        >h4{
            color: $primary;
            
        }
    }
   
    
}